@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

html {
    overflow: scroll;
    max-width: 100%;
    overflow-x: hidden;
}

/* Main website background */
body {
    background: #55BDCA;
    max-width: 100%;
    overflow-x: hidden;
}

/* Primary text color/style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white; */
    color: #022449;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


/* Text for list items & buttons */
li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-decoration: none;
    color: rgb(255, 251, 245);
}

/* Paragraph text */
p {
    text-align: center;
    color: white;
}

/* Center text by default in all divs */
div {
    text-align: center;
}

/* Make the nav bar right-align */
nav {
    margin-left: auto;
}

/* Define params for the header object on each page */
header {
    width: 100vw;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: #022449;
}

/* Footer color & size */
footer {
    padding: 3px;
    background: #022449;
}

/* Main title text in header */
.logo-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 64px;
    text-decoration: none;
    color: rgb(255, 251, 245);
}

/* Formatting for nav buttons in header */
.nav-links {
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    background-color: #F27D42;
    padding: 4px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.nav-links li a:hover {
    background-color: #55BDCA;
}

/* Adds vignette around border of entire website when used as body class */
.vignette {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.2) inset;
}

/* ID for main div inside body, ensures entire height is used and footer is forced to the very bottom */
#main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* animate fade in */
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Standalone text at the top of page, under the header */
#just-text {
    flex-grow: 1;
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* Give some leeway below the header */
    margin-top: 1cm;
}

/* Buttons for project links */
.button {
    font-size: 40px;
    background-color: #F27D42;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    margin: 2% auto;
    padding: 5px 10px;
}

/* Section of a container that can be used as the base for a project section or a row of images */
.container-section {
    width: 90%;
    margin: 5%;
    vertical-align: top;
    margin-bottom: 1cm;
    margin-top: 1cm;
}

.container-section .row {
    display: table-row;
}

.container-section .cell {
    display: table-cell;
    border: 0;
    width: 25%;
    padding: 10px;
    vertical-align: middle;
}

/* Social Media icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 90px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    /* Align buttons to left and slightly down */
    transform: translateX(-100%) translateY(20%);
}

.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #171515;
    color: white;
}

.fa-envelope {
    background: #022449;
    color: white;
}