@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

html{
    overflow: scroll;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    /* background: rgb(253, 150, 68); */
    background: rgb(32,178,170);
}

li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-decoration: none;
    color: rgb(255, 251, 245);
}

nav {
    margin-left: auto;
}

#header {

    width: 100vw;
    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: rgb(14, 88, 85);
}

.logo {
    cursor: pointer;
}

.logo-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 64px;
    text-decoration: none;
    color: rgb(255, 251, 245);
}

.nav__links {
    list-style: none;
    margin-left: auto;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: rgb(26, 26, 26, 0);
    padding: 4px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.nav__links li a:hover {
    background-color: rgb(26, 26, 26, .3);
}

.vignette {
    position:relative;
    top: 0;
    left: 0;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.2) inset;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    padding: 5% 20;
    padding-bottom: 70px;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content-image {
    flex-grow: 1;
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

.button{
    margin-top: 4%;
    font-size: 40px;
    background-color: rgb(3, 33, 43);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.image{
    /* margin-top: 50px; */
    margin-top: 10px;
}

.main-content {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 96px;
    text-decoration: none;
    color: rgb(255, 251, 245);
    text-align: center;
}

.main-content-about {
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    text-decoration: none;
    color: rgb(255, 251, 245);
    text-align: center;
}

.animate{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    /* text-align: center; */
    padding: 3px;
    background-color: rgb(4, 145, 138);
    color: white;
}

.textbox {
    margin-bottom: 1cm;
    /* align-items: center;
    justify-content: center; */
    width: 50%
 }